.footer{
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    padding-top: 80px;
    margin-top: 80px;
    padding: 10px;
}
.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
.footer-left .footer-right .footer-middle{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.footer-right li, .footer-middle li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}
.footer-right h2, .footer-middle h2{
    color: white;
}
.footer-social-icons img{
    width: 40px;
    margin-right: 15px;
}

.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0;
}


